button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	padding: 0.25em 1em;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: $color__button;
	border: 1px solid $color__border-button;
	background: $white;
	transition: 0.2s color, 0.2s border-color;
	text-transform: uppercase;
	@include font-body;
	cursor: pointer;

	&:visited {
		color: $color__button;
	}

	&:hover,
	&:focus {
		color: $color__border-button-hover;
		border-color: $color__border-button-hover;
	}
}
