body {
  background: #ffffff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.entry-content p {
  margin: 0 0 12.5px; }
  .entry-content p:last-child {
    margin-bottom: 0; }

.entry-content dfn,
.entry-content cite,
.entry-content em,
.entry-content i {
  font-style: italic; }

.entry-content blockquote {
  margin: 0 12.5px; }

.entry-content address {
  margin: 0 0 12.5px; }

.entry-content dt {
  font-weight: bold; }

.entry-content dd {
  margin: 0 1.5em 1.5em; }

.entry-content pre {
  background: #000000;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

.entry-content code,
.entry-content kbd,
.entry-content tt,
.entry-content var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 12px; }

.entry-content abbr,
.entry-content acronym {
  border-bottom: 1px dotted #000000;
  cursor: help; }

.entry-content mark,
.entry-content ins {
  background: #fbf9f4;
  text-decoration: none; }

.entry-content big {
  font-size: 125%; }

.entry-content ul,
.entry-content ol {
  margin: 0 0 12.5px 1em; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  display: inline-block;
  margin: 0 1em;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em; }
  button:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited,
  input[type="submit"]:visited,
  .button:visited {
    color: #000000; }
  button:hover, button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  .button:hover,
  .button:focus {
    background: #fa4d69; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

img {
  height: auto;
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

a {
  color: #fa4d69; }
  a:visited {
    color: #fa4d69; }
  a:hover, a:focus, a:active {
    color: #fcb9b2; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.b-post {
  margin-bottom: 25px;
  padding: 25px 15px;
  background: #ffffff; }
  .b-post .categorylink {
    display: inline-block;
    margin-bottom: 12.5px;
    background: #f6ad46;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #000000; }
    .b-post .categorylink:hover, .b-post .categorylink:focus {
      color: #fa4d69; }
  .b-post .featured-image {
    display: inline-block;
    margin-bottom: 12.5px;
    position: relative;
    z-index: 1;
    max-width: 100%; }
    .b-post .featured-image a {
      display: block; }
  .b-post .b-entry-title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2; }
    .b-post .b-entry-title a {
      color: #000000; }
      .b-post .b-entry-title a:hover, .b-post .b-entry-title a:focus {
        color: #fa4d69; }
  .b-post .b-entry-meta {
    margin-bottom: 12.5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700; }
