/*! sanitize.css v4.0.0 | CC0 License | github.com/10up/sanitize.css */
/* Display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */
/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct colors in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the font size in all browsers.
 */
small {
  font-size: 83.3333%; }

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline when hovering in all browsers (opinionated.
 */
:hover {
  outline-width: 0; }

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */
/*
 * Remove border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */
/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0;
  /* 3 */ }

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Correct the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the border, margin, and padding in all browsers.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

[hidden][aria-hidden="false"]:focus {
  clip: auto; }

:root.fonts-loaded {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.entry-content p,
.textwidget p {
  margin-bottom: 12.5px; }

.entry-content > p:last-child,
.textwidget > p:last-child {
  margin-bottom: 0; }

.entry-content dfn,
.entry-content cite,
.entry-content em,
.entry-content i,
.textwidget dfn,
.textwidget cite,
.textwidget em,
.textwidget i {
  font-style: italic; }

.entry-content blockquote,
.textwidget blockquote {
  margin: 0 12.5px; }

.entry-content address,
.textwidget address {
  margin: 0 0 12.5px; }

.entry-content dt,
.textwidget dt {
  font-weight: bold; }

.entry-content dd,
.textwidget dd {
  margin: 0 1.5em 1.5em; }

.entry-content pre,
.textwidget pre {
  background: #000000;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

.entry-content code,
.entry-content kbd,
.entry-content tt,
.entry-content var,
.textwidget code,
.textwidget kbd,
.textwidget tt,
.textwidget var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 12px; }

.entry-content abbr,
.entry-content acronym,
.textwidget abbr,
.textwidget acronym {
  border-bottom: 1px dotted #000000;
  cursor: help; }

.entry-content mark,
.entry-content ins,
.textwidget mark,
.textwidget ins {
  background: #fbf9f4;
  text-decoration: none; }

.entry-content big,
.textwidget big {
  font-size: 125%; }

.entry-content p > a,
.textwidget p > a {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #fa4d69; }
  .entry-content p > a:hover, .entry-content p > a:focus,
  .textwidget p > a:hover,
  .textwidget p > a:focus {
    background: #fa4d69; }

.entry-content h1,
.textwidget h1 {
  font-style: 30px;
  font-weight: 300; }
  @media (min-width: 48em) {
    .entry-content h1,
    .textwidget h1 {
      font-style: 44px; } }

.entry-content h2,
.textwidget h2 {
  font-size: 24px;
  font-weight: 300; }
  @media (min-width: 48em) {
    .entry-content h2,
    .textwidget h2 {
      font-style: 36px; } }

.entry-content h3,
.textwidget h3 {
  font-size: 20px;
  font-weight: 300; }
  @media (min-width: 48em) {
    .entry-content h3,
    .textwidget h3 {
      font-style: 30px; } }

.entry-content h4,
.textwidget h4 {
  font-size: 18px; }
  @media (min-width: 48em) {
    .entry-content h4,
    .textwidget h4 {
      font-style: 24px; } }

.entry-content h5,
.textwidget h5 {
  font-size: 16px; }
  @media (min-width: 48em) {
    .entry-content h5,
    .textwidget h5 {
      font-style: 20px; } }

.entry-content h6,
.textwidget h6 {
  font-size: 14px; }
  @media (min-width: 48em) {
    .entry-content h6,
    .textwidget h6 {
      font-style: 16px; } }

.entry-content ul,
.entry-content ol,
.textwidget ul,
.textwidget ol {
  margin: 0 0 12.5px 1em; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  display: inline-block;
  margin: 0 1em;
  color: #000000;
  line-height: 2;
  border-bottom: 2px solid #fa4d69;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em; }
  button:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited,
  input[type="submit"]:visited,
  .button:visited {
    color: #000000; }
  button:hover, button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  .button:hover,
  .button:focus {
    background: #fa4d69; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  border: 1px solid #c2c2c2;
  border-radius: 2em;
  padding: 0.25em 0.5em; }
  input[type="text"]:focus, input[type="text"]:hover,
  input[type="email"]:focus,
  input[type="email"]:hover,
  input[type="url"]:focus,
  input[type="url"]:hover,
  input[type="password"]:focus,
  input[type="password"]:hover,
  input[type="search"]:focus,
  input[type="search"]:hover,
  input[type="number"]:focus,
  input[type="number"]:hover,
  input[type="tel"]:focus,
  input[type="tel"]:hover,
  input[type="range"]:focus,
  input[type="range"]:hover,
  input[type="date"]:focus,
  input[type="date"]:hover,
  input[type="month"]:focus,
  input[type="month"]:hover,
  input[type="week"]:focus,
  input[type="week"]:hover,
  input[type="time"]:focus,
  input[type="time"]:hover,
  input[type="datetime"]:focus,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:hover,
  input[type="color"]:focus,
  input[type="color"]:hover {
    border-color: #fa4d69;
    outline: 0; }

textarea {
  padding: 0.25em;
  width: 100%; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #ffffff;
    border-radius: 3px;
    clip: auto !important;
    color: #f6ad46;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

img {
  height: auto;
  max-width: 100%; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

a {
  color: #fa4d69; }
  a:visited {
    color: #fa4d69; }
  a:hover, a:focus, a:active {
    color: #fcb9b2; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.widget {
  margin: 0 0 12.5px; }

.social-follow > .menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0; }

.social-follow .follow {
  display: block;
  width: 40px;
  height: 40px; }
  .social-follow .follow.-facebook {
    background: url(../svg/src/Footer_Social_Facebook.svg); }
  .social-follow .follow:hover.-facebook {
    background: url(../svg/src/Footer_Social_Facebook_Hover.svg); }
  .social-follow .follow.-twitter {
    background: url(../svg/src/Footer_Social_Twitter.svg); }
  .social-follow .follow:hover.-twitter {
    background: url(../svg/src/Footer_Social_Twitter_Hover.svg); }
  .social-follow .follow.-instagram {
    background: url(../svg/src/Footer_Social_Instagram.svg); }
  .social-follow .follow:hover.-instagram {
    background: url(../svg/src/Footer_Social_Instagram_Hover.svg); }
  .social-follow .follow.-pinterest {
    background: url(../svg/src/Footer_Social_Pinterest.svg); }
  .social-follow .follow:hover.-pinterest {
    background: url(../svg/src/Footer_Social_Pinterest_Hover.svg); }

.ccf-form-wrapper {
  margin: 0 auto; }

.ui-datepicker {
  display: none; }

.ccf-form > .field-hide {
  display: none; }

@media (min-width: 48em) {
  .ccf-form > .form-group.city input.field-input {
    margin-bottom: 12.5px; } }

.ccf-form > .field-type-radio {
  text-align: center;
  margin: 0 -1em 25px; }
  .ccf-form > .field-type-radio:after {
    content: '';
    display: table;
    table-layout: fixed;
    clear: both; }
  .ccf-form > .field-type-radio .choice {
    display: block;
    position: relative;
    width: calc(50% - 2em);
    margin: 0 1em;
    float: left; }
    .ccf-form > .field-type-radio .choice > label {
      display: block;
      cursor: pointer;
      width: 100%;
      position: relative; }
    .ccf-form > .field-type-radio .choice .field-input {
      width: auto;
      display: inline;
      opacity: 0;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .ccf-form > .field-type-radio .choice span {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      border: 1px solid #c2c2c2;
      border-radius: 2em;
      padding: 0.5em; }
    .ccf-form > .field-type-radio .choice span:hover {
      background-color: #fe9d8e;
      border-color: #e9616a; }
    .ccf-form > .field-type-radio .choice .field-input:checked ~ span {
      background: #e9616a;
      border-color: #e9616a;
      color: #ffffff; }

.ccf-form .main-label {
  display: block;
  margin-bottom: 12.5px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.ccf-form input.field-input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  text-align: center; }

.ccf-form select.field-input {
  display: block;
  width: 100%;
  margin-bottom: 25px; }

.ccf-form .form-submit {
  margin-top: 25px; }

.ccf-form .error.required-error {
  margin-bottom: 12.5px;
  padding: 0.25em 0.5em;
  width: 100%;
  color: red;
  border: 2px solid red; }

.ccf-form .loading-img {
  vertical-align: middle;
  display: inline-block;
  border: 0;
  opacity: 0;
  float: none;
  margin: 0 0 0 6px; }

.ccf-form .field-type-paragraph-text .field-input {
  height: 240px;
  border: 1px solid #c2c2c2;
  border-radius: 1em;
  padding: 1em; }

.ccf-form-frame {
  display: none; }

.panel-grid-cell .ccf-form {
  -ms-flex: 0 1 1170px;
      flex: 0 1 1170px;
  margin-bottom: 25px;
  padding: 12.5px 15px;
  max-width: 550px;
  text-align: center; }
  @media (min-width: 48em) {
    .panel-grid-cell .ccf-form {
      width: 550px; } }

.site-footer {
  clear: both;
  width: 100%;
  background: #fa4d69;
  color: #ffffff; }
  .site-footer > .wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 25px 15px; }
    @media (min-width: 61.25em) {
      .site-footer > .wrapper {
        -ms-flex-direction: row;
            flex-direction: row; } }
  @media (min-width: 61.25em) {
    .site-footer .footer-navigation {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; } }
  @media (min-width: 61.25em) {
    .site-footer .footer-misc {
      -ms-flex: 0 0 220px;
          flex: 0 0 220px; } }
  .site-footer .social-follow {
    margin: 0 auto 25px;
    max-width: 80%; }
    @media (min-width: 61.25em) {
      .site-footer .social-follow {
        margin: 0 0 12.5px;
        max-width: none; } }
  .site-footer .copyright {
    font-size: 14px;
    text-align: center; }
    @media (min-width: 61.25em) {
      .site-footer .copyright {
        text-align: right; } }

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  .nav-menu > .menu-item {
    display: inline-block; }

.footer-navigation > .nav-menu {
  text-align: center; }
  @media (min-width: 61.25em) {
    .footer-navigation > .nav-menu {
      text-align: left; } }

.footer-navigation > .-primary {
  font-size: 18px;
  margin-bottom: 12.5px; }
  @media (min-width: 61.25em) {
    .footer-navigation > .-primary {
      font-size: 24px; } }
  .footer-navigation > .-primary .menu-item {
    margin: 0 0.5em; }
    @media (min-width: 61.25em) {
      .footer-navigation > .-primary .menu-item {
        margin: 0 1em 0 0; } }

.footer-navigation > .-secondary {
  margin-bottom: 25px; }
  .footer-navigation > .-secondary .menu-item {
    margin: 0 0.5em;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }
    @media (min-width: 61.25em) {
      .footer-navigation > .-secondary .menu-item {
        margin: 0 1em 0 0; } }

.footer-navigation a {
  color: #ffffff; }

.wrapper {
  width: 100%;
  max-width: 780px;
  margin: 0 auto; }
  .wrapper.-full-width {
    max-width: 1170px; }

.panel-grid {
  margin-bottom: 12.5px; }
  @media (min-width: 48em) {
    .panel-grid {
      margin-bottom: 15px; } }
  .panel-grid:last-child {
    margin-bottom: 0; }
    .panel-grid:last-child .panel-row-style > .panel-grid-cell {
      margin-bottom: 0; }

.panel-row-style {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 48em) {
    .panel-row-style {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex: 0 1 1170px;
          flex: 0 1 1170px; } }
  .panel-row-style.-large {
    max-width: 1170px; }
  .panel-row-style.-full-width {
    max-width: none; }
    .panel-row-style.-full-width > .panel-grid-cell {
      margin-left: 0;
      margin-right: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  .panel-row-style > .panel-grid-cell {
    width: 100%;
    margin: 0 15px 0;
    margin-bottom: 15px !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    @media (min-width: 48em) {
      .panel-row-style > .panel-grid-cell {
        margin-bottom: 0 !important; } }
    .panel-row-style > .panel-grid-cell .widget {
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
  .panel-row-style.cell-count-1 > .panel-grid-cell {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (min-width: 48em) {
      .panel-row-style.cell-count-1 > .panel-grid-cell {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }

.modal {
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none; }
  .modal iframe {
    display: none; }
  .modal.open {
    display: block; }
    .modal.open iframe {
      display: block; }

.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.modal-close {
  position: absolute;
  right: -20px;
  top: -20px; }
  .modal-close img {
    width: 20px; }

.site-masthead {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background: url(../img/masthead-background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 25px 30px; }
  @media (min-width: 48em) {
    .site-masthead {
      background-position: center top; } }
  .admin-bar .site-masthead {
    height: calc(100vh - 32px); }
  .site-masthead > .logo {
    fill: #ffffff;
    color: #ffffff;
    -ms-flex: 1 1 178px;
        flex: 1 1 178px;
    width: 80%; }
    @media (min-width: 48em) {
      .site-masthead > .logo {
        width: 500px; } }
  .site-masthead > .scroll {
    border: 0;
    border-radius: 0;
    background-image: url("../svg/symbol-defs.svg#icon-arrow");
    background-repeat: no-repeat;
    background-size: cover;
    fill: #ffffff;
    background-size: cover;
    width: 31px;
    height: 88px;
    padding: 0;
    -ms-flex: 0 0 88px;
        flex: 0 0 88px;
    cursor: pointer;
    color: #ffffff; }
    .site-masthead > .scroll:hover, .site-masthead > .scroll:focus {
      fill: #fa4d69;
      color: #fa4d69; }

.single .entry-header {
  -ms-flex: 0 1 1170px;
      flex: 0 1 1170px;
  margin-bottom: 25px;
  padding: 25px 30px 12.5px;
  width: 100%;
  max-width: 100%;
  position: relative;
  margin-bottom: 0;
  padding: 25px 30px 12.5px;
  text-align: center; }
  .single .entry-header:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    max-height: 335px;
    height: 100%;
    background: #fcb9b2;
    z-index: -1; }
  .single .entry-header > .title {
    margin: 0 auto;
    text-align: center; }
  .single .entry-header .wp-post-image {
    margin-bottom: 12.5px; }

.post-header {
  -ms-flex: 0 1 1170px;
      flex: 0 1 1170px;
  margin-bottom: 25px;
  padding: 25px 30px;
  text-align: center;
  width: 100%; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background-color: #000000;
  text-shadow: none; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("../img/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

.post {
  margin-bottom: 25px;
  padding: 25px 15px;
  background: #ffffff; }
  .post .categorylink {
    display: inline-block;
    margin-bottom: 12.5px;
    background: #f6ad46;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: #000000; }
    .post .categorylink:hover, .post .categorylink:focus {
      color: #fa4d69; }
  .post .featured-image {
    display: inline-block;
    margin-bottom: 12.5px;
    position: relative;
    z-index: 1;
    max-width: 100%; }
    .post .featured-image a {
      display: block; }
  .post .entry-title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2; }
    .post .entry-title a {
      color: #000000; }
      .post .entry-title a:hover, .post .entry-title a:focus {
        color: #fa4d69; }
  .post .pinterest-link {
    display: block;
    position: absolute;
    top: 15px;
    right: 5px;
    width: 211.2px;
    height: 104.4px;
    background-image: url("../svg/symbol-defs.svg#icon-pin-it");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    z-index: 2; }
  .post .entry-meta {
    margin-bottom: 12.5px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700; }

.posts-navigation {
  margin-bottom: 25px; }
  .posts-navigation .nav-links {
    display: -ms-flexbox;
    display: flex; }
  .posts-navigation .nav-previous {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    text-align: left; }
    .posts-navigation .nav-previous a:before {
      content: '\2039';
      margin-right: 0.5em; }
  .posts-navigation .nav-next {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    text-align: right; }
    .posts-navigation .nav-next a:after {
      content: '\203A';
      margin-left: 0.5em; }

.search-form {
  position: relative; }
  .search-form .search-field {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    line-height: 1;
    padding: 0.7em 2em 0.5em 1em;
    background: #ffffff; }
  .search-form > .search-submit {
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -12px;
    width: 16px;
    height: 24px;
    background-image: url("../svg/symbol-defs.svg#icon-symbol-search");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 0; }

.entry-footer {
  margin-top: 25px; }

.site-content {
  padding-bottom: 25px; }

.archive .site-content,
.single:not(.siteorigin-panels) .site-content,
.blog .site-content,
.error404 .site-content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 25px; }
  .archive .site-content:after,
  .single:not(.siteorigin-panels) .site-content:after,
  .blog .site-content:after,
  .error404 .site-content:after {
    content: '';
    display: table;
    table-layout: fixed;
    clear: both; }
  .archive .site-content.-has-sidebar,
  .single:not(.siteorigin-panels) .site-content.-has-sidebar,
  .blog .site-content.-has-sidebar,
  .error404 .site-content.-has-sidebar {
    padding-top: 25px; }

@media (min-width: 48em) {
  .archive .content-area,
  .single-post .content-area,
  .blog .content-area {
    float: left;
    margin: 0 -360px 0 0;
    width: calc(100% - 360px); } }

.archive .site-main:after,
.single-post .site-main:after,
.blog .site-main:after {
  content: '';
  display: table;
  table-layout: fixed;
  clear: both; }

@media (min-width: 48em) {
  .archive .site-content .site-sidebar,
  .single-post .site-content .site-sidebar,
  .blog .site-content .site-sidebar {
    float: right;
    overflow: hidden; } }

.site-sidebar {
  width: 100%;
  padding: 0 15px 25px;
  margin-bottom: 50px; }
  @media (min-width: 48em) {
    .site-sidebar {
      width: 360px; } }

.blog,
.archive {
  background: #fbf9f4; }

.single-post {
  background: #fbf9f4; }
