.b-header-menu {
	margin: 0;
	padding: 0;
}

.b-header-menu__item {
	display: inline;
	@include font-title;
	@include rem(font-size, 14px);

	@include mq($until: medium) {
		text-align: center;
		padding: 0 0.75em;
	}

	@include mq(medium) {
		padding: 0 0 0 1em;
	}

	a {
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		transition: 0.2s;

		&:hover,
		&:focus {
			color: $red;
		}
	}
}