.b-post-header {
	width: 100%;
	margin: 0 auto $gutter;
	padding: 0 $half-gutter;
	max-width: $content-width;
}

.b-post-header .wp-post-image {
	// Doesn't use BEM class naming, because of WP default class names
	display: block;
	width: 100%;
}

.b-post-header .b-post-date {
	margin-bottom: $half-gutter;
}

.b-post-header__title {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}