// Elements
.b-social__title {
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0;
	vertical-align: middle;
	@include rem(font-size, 18px);
	color: $black;
}

.b-social__menu {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	vertical-align: middle;
	line-height: 1;
}

.b-social__item {
	display: inline-block;
	margin: 0 1em;
}

.b-social__link {
	display: block;
	width: 2.5em;
	height: 2.5em;
	transition: opacity 0.3s ease;

	&:hover {
		opacity: 0.6;
	}
}

// Size variation
.b-social--mini .b-social__item {
	margin: 0 0.5em;
}

.b-social--mini .b-social__link {
	width: 1.5em;
	height: 1.5em;
}

// Individual links
.b-social__link--twitter {
	@include svg-icon('social-twitter', $color__link);
}

.b-social--light .b-social__link--twitter {
	@include svg-icon('social-twitter', $white);
}

.b-social__link--facebook {
	@include svg-icon('social-facebook', $color__link);
}

.b-social--light .b-social__link--facebook {
	@include svg-icon('social-facebook', $white);
}

.b-social__link--instagram {
	@include svg-icon('social-instagram', $color__link);
}

.b-social--light .b-social__link--instagram {
	@include svg-icon('social-instagram', $white);
}
