.footer-navigation {
	> .nav-menu {
		text-align: center;

		@include mq(large) {
			text-align: left;
		}
	}

	> .-primary {
		font-size: 18px;
		margin-bottom: $half-y-gutter;

		@include mq(large) {
			font-size: 24px;
		}

		.menu-item {
			margin: 0 0.5em;

			@include mq(large) {
				margin: 0 1em 0 0;
			}
		}
	}

	> .-secondary {
		margin-bottom: $y-gutter;

		.menu-item {
			margin: 0 0.5em;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 700;

			@include mq(large) {
				margin: 0 1em 0 0;
			}
		}
	}

	a {
		color: $white;
	}
}
