.panel-grid {
	margin-bottom: $half-y-gutter;

	@include mq(medium) {
		margin-bottom: $half-x-gutter;
	}

	&:last-child {
		margin-bottom: 0;

		.panel-row-style > .panel-grid-cell {
			margin-bottom: 0;
		}
	}
}

.panel-row-style {
	width: 100%;
	max-width: $content-width;
	margin: 0 auto;
	padding: 0;

	@include mq(medium) {
		display: flex;
		flex-wrap: nowrap;
		flex: 0 1 $full-width;
	}

	&.-large {
		max-width: $full-width;
	}

	&.-full-width {
		max-width: none;

		> .panel-grid-cell {
			margin-left: 0;
			margin-right: 0;
			flex: 0 0 100%;
		}
	}

	> .panel-grid-cell {
		width: 100%;
		margin: 0 $half-x-gutter 0;
		margin-bottom: $half-x-gutter !important; // the !important is unfortunately necessary because of Page Builder inline styles
		display: flex;
		justify-content: center;

		@include mq(medium) {
			margin-bottom: 0 !important;
		}

		.widget {
			display: flex;
			width: 100%;
		}
	}

	&.cell-count-1 > .panel-grid-cell {
		flex-wrap: wrap;

		@include mq(medium) {
			flex-wrap: nowrap;
		}
	}
}
