.post {
	margin-bottom: $y-gutter;
	padding: $y-gutter $half-x-gutter;
	background: $white;

	.categorylink {
		display: inline-block;
		margin-bottom: $half-y-gutter;
		background: $gold;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 700;
		color: $black;

		&:hover,
		&:focus {
			color: $pink;
		}
	}

	.featured-image {
		display: inline-block;
		margin-bottom: $half-y-gutter;
		position: relative;
		z-index: 1;
		max-width: 100%;

		a {
			display: block;
		}
	}

	.entry-title {
		margin-bottom: $y-gutter;
		font-size: 36px;
		font-weight: 300;
		line-height: 1.2;

		a {
			color: $black;

			&:hover,
			&:focus {
				color: $pink;
			}
		}
	}

	.pinterest-link {
		display: block;
		position: absolute;
		top: 15px;
		right: 5px;
		width: 211.2px;
		height: 104.4px;
		@include svg-icon('pin-it');
		background-size: cover;
		z-index: 2;
	}

	.entry-meta {
		margin-bottom: $half-y-gutter;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 700;
	}
}
