.search-form {
	position: relative;

	.search-field {
		display: block;
		width: 100%;
		margin-bottom: $y-gutter;
		line-height: 1;
		padding: 0.7em 2em 0.5em 1em;
		background: $white;
	}

	> .search-submit {
		position: absolute;
		right: 16px;
		top: 50%;
		margin-top: -12px;
		width: 16px;
		height: 24px;
		@include svg-icon('symbol-search');
		background-size: contain;
		background-repeat: no-repeat;
		border: 0;
		z-index: 1;
		cursor: pointer;
		font-size: 0;
	}
}
