.site-masthead {
	display: flex;
	flex-direction: column;
	background: url(../img/masthead-background.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: $y-gutter $x-gutter;

	@include mq(medium) {
		background-position: center top;
	}

	.admin-bar & {
		height: calc(100vh - 32px);
	}

	> .logo {
		fill: $white;
		color: $white;
		flex: 1 1 178px;
		width: 80%;

		@include mq(medium) {
			width: 500px;
		}
	}

	> .scroll {
		border: 0;
		border-radius: 0;
		@include svg-icon('arrow');
		fill: $white;
		background-size: cover;
		width: 31px;
		height: 88px;
		padding: 0;
		flex: 0 0 88px;
		cursor: pointer;
		color: $white;

		&:hover,
		&:focus {
			fill: $pink;
			color: $pink;
		}
	}
}