.modal {
	background: rgba(black, 0.95);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	display: none;

	iframe {
		display: none;
	}

	&.open {
		display: block;

		iframe {
			display: block;
		}
	}
}

.modal-content {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-close {
	position: absolute;
	right: -20px;
	top: -20px;

	img {
		width: 20px;
	}
}