// Colors
$black:          #000000;
$almost-black:   #3c3c3c;
$white:          #ffffff;
$off-white:      #f7f5f5;
$grey-light:     #ccc9c9;
$grey:           #a79b9b;
$grey-dark:      #4c4a4a;

$red:            #e04539;
$gold:           #f6ad46;
$blue-light:     #e5ecf1;

$color__background-body:   $white;
$color__background-screen: $white;
$color__background-pre:    $black;
$color__background-ins:    $off-white;

$color__text-screen:      $almost-black;
$color__text-input:       $almost-black;
$color__text-input-focus: $almost-black;
$color__link:             $red;
$color__link-visited:     $red;
$color__link-hover:       lighten($red, 20%);
$color__text-main:        $almost-black;

$color__button:              $almost-black;
$color__button-hover:        darken($gold, 20%);
$color__border-button:       $almost-black;
$color__border-button-hover: darken($gold, 20%);
$color__border-input:        $blue-light;
$color__border-abbr:         $almost-black;

// Typography
$font__main--fallback:   Helvetica, Arial, sans-serif;
$font__main:             'Source Sans Pro', Arial, sans-serif;

$font__title--fallback:  Helvetica, Arial, sans-serif;
$font__title:            'Source Sans Pro', Arial, sans-serif;

$font__code:             Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre:              "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre:  1.6;
$base_font__size:        16px;

// MQ
$mq-breakpoints: (
	smallest: 320px,
	small: 400px,
	small-medium: 600px,
	wp-mobile-admin-bar: 600px,
	medium: 768px,
	wp-desktop-admin-bar:782px,
	large: 980px,
	extra-large: 1170px
);

// Site width
$full-width:    1000px;
$content-width: 780px;
$small-width:   550px;

// Grid units
$gutter:          32px;
$quarter-gutter:  (0.25 * $gutter);
$half-gutter:     (0.5 * $gutter);
$gutter-and-half: (1.5 * $gutter);
$gutter-double:   (2 * $gutter);
