.main-navigation {
	text-align: center;

	@include mq(medium) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	> .nav-menu {
		display: inline;
		text-align: center;
		flex: 0 0 100%;
		line-height: 1;

		@include mq(medium) {
			display: block;
			text-align: right;
		}
	}

	> .toggle {
		display: inline;
		padding: 0;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: 700;
		border-bottom: 2px solid $color__link;
		order: 3;
		cursor: pointer;
		font-size: 14px;

		&:hover {
			background: $color__link;
		}

		@include mq(medium) {
			display: none;
		}
	}

	.menu-item {
		padding: 6px 0 8px;
		display: inline;

		@include mq(medium) {
			padding: 6px 0 8px;
			display: inline-block;
		}
	}

	a {
		display: inline-block;
		color: $black;
		padding: 4px;
		border-bottom: 2px solid transparent;

		@include mq(medium) {
			margin-left: 0.5em;
		}

		&:hover,
		&:focus {
			background: $color__link;
		}
	}

	.current-menu-item a {
		border-bottom-color: $color__link;
	}

	> .-primary {
		order: 1;

		@include mq(medium) {
			order: 2;
		}

		.menu-item a {
			font-size: 18px;
			font-weight: 300;

			@include mq(medium) {
				font-size: 24px;
			}
		}
	}

	&.-open > .-primary {
		display: block;
	}

	> .-secondary {
		order: 2;
		display: none;

		@include mq(medium) {
			order: 1;
			display: block;
		}

		&:after {
			@include mq(medium) {
				position: relative;
				top: 0.25em;
				content: '';
				display: inline-block;
				@include svg-icon(nav-sparkle);
				background-size: cover;
				height: 1.5em;
				width: 1em;
			}
		}

		.menu-item a {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.05em;

			@include mq(medium) {
				font-size: 16px;
			}
		}
	}

	&.-open > .-secondary {
		@include mq($until: medium) {
			display: inline;
		}
	}
}
