.site-logo {
	display: block;
	margin-bottom: $half-y-gutter;

	@include mq(medium) {
		margin-bottom: 0;
	}

	> .logo {
		fill: $pink;
		width: 198px;
		height: 64px;

		@include mq(small) {
			width: 264px;
			height: 85px;
		}
	}
}
